div.ic-app-nav-toggle-and-crumbs.no-print {
  background-color: #060614;
}

div.ic-Layout-contentMain.padless {
  background-color: #060614;
}

div.ic-sticky-frame {
  background-color: #060614;
}

div.ic-app-course-menu.ic-sticky-on.list-view {
  background-color: #060614;
}

div.comments {
  background-color: #060614;
}

div.ic-Layout-wrapper {
  background-color: #060614;
}

div.submission-details-header.submission_details {
  background-color: #060614;
}

div.comment_list {
  background-color: #060614;
}

div.submission-details-container {
  background-color: #060614;
}

textarea.ic-Input.grading_comment {
  background-color: #060614;
  color: #ffffff;
}

div div strong {
  color: #d9d9d9;
}

nav ul li {
  background-color: #060614;
}

div.ic-app-header__main-navigation {
  background-color: #060614;
}

h1.submission-details-header__heading.submission_header {
  color: #cccccc;
}

h2.submission-details-header__heading.h3 {
  color: #cccccc;
}

span.submission-details-header__time {
  color: #b7b7b7;
}

#wrapper {
  background-color: #060614;
}

tbody tr th {
  color: #f3f3f3;
  background-color: #060614;
}

span.entered_grade {
  color: #ffffff;
}

td.bold {
  color: #ffffff;
}

div.ic-DashboardCard__header_content {
  background-color: #060614;
}

nav.ic-DashboardCard__action-container {
  background-color: #060614;
}

div.ic-DashboardCard {
  background-color: #060614;
}

h1.ic-Dashboard-header__title {
  background-color: #060614;
}

div.large.ic-Dashboard-header__layout {
  background-color: #060614;
}

span.hidden-phone {
  color: #efefef;
}

p.event-details__context {
  color: #cccccc;
}

span.enRcg_bGBk.enRcg_doqw.enRcg_bdMA.enRcg_fNIu.enRcg_eQnG.enRcg_bLsb {
  color: #b7b7b7;
}

a.ic-DashboardCard__action.announcements {
  color: #d9d9d9;
}

svg.esvoZ_bGBk.esvoZ_drOs.esvoZ_eXrk.cGqzL_bGBk.cGqzL_dIzR.cGqzL_owrh {
  color: #b7b7b7;
}

li.fOyUs_bGBk.fOyUs_cuDs.ctrLD_bGBk.ctrLD_doqw.ctrLD_dnHs {
  color: #cccccc;
}

div.enRcg_bGBk.enRcg_cMDj.enRcg_bdMA.enRcg_eQnG {
  background-color: #060614;
}

div.PlannerItem-styles__root.planner-item {
  background-color: #060614;
}

div.Day-styles__root.planner-day {
  background-color: #060614;
}

div.EmptyDays-styles__nothingPlannedContainer {
  background-color: #060614;
}

div.PlannerHeader-styles__root.PlannerHeader {
  background-color: #060614;
}

button.fOyUs_bGBk.eHiXd_bGBk.eHiXd_dnnz.eHiXd_ycrn.eHiXd_bPzo.eHiXd_cuTS.eHiXd_wWyq {
  color: #d9d9d9;
}

span.enRcg_bGBk.enRcg_cMDj.enRcg_eQnG {
  color: #ffffff;
}

div span span {
  color: #efefef;
}

span.dLyYq_bGBk.dLyYq_zGXc {
  background-color: #060614;
}

span.dLyYq_bGBk.dLyYq_bXiG {
  background-color: #060614;
  border-color: #008500;
}

span.Grouping-styles__title {
  background-color: #060614;
}

span.Grouping-styles__overlay.Grouping-styles__withImage {
  background-color: #060614;
}

span.yyQPt_cSXm {
  background-color: #060614;
}

header.panel {
  background-color: #060614;
}

div ul li {
  background-color: #060614;
}

div.filter-option.pull-left {
  background-color: #060614;
  color: #efefef;
}

#conversation_filter_select {
  background-color: #060614;
  color: #efefef;
}

button.btn.dropdown-toggle {
  background-color: #060614;
}

h2.author {
  color: #b7b7b7;
}

h3.subject {
  color: #f3f3f3;
}

div.summary {
  color: #d9d9d9;
}

ul li p {
  color: #d9d9d9;
}

h2.subject {
  color: #efefef;
}

span.context {
  color: #b7b7b7;
}

div.ac-input-box {
  background-color: #060614;
}

button.btn {
  background-color: #060614;
  color: #f3f3f3;
}

button.fOyUs_bGBk.eHiXd_bGBk.eHiXd_eYmo.eHiXd_ycrn.eHiXd_bNlk.eHiXd_cuTS {
  background-color: #060614;
  color: #ffffff;
}

div.fOyUs_bGBk {
  background-color: #060614;
}

div.navigation-tray-container.courses-tray {
  background-color: #060614;
}

div.enRcg_bGBk.enRcg_dfBC.enRcg_pEgL.enRcg_eQnG {
  color: #d9d9d9;
}

div.page-toolbar-start {
  background-color: #060614;
}

div.header-bar.page-toolbar.as-course-home {
  background-color: #060614;
  border-style: none;
}

span.ellipsible {
  color: #d9d9d9;
}

button.fOyUs_bGBk.fOyUs_fKyb.fOyUs_cuDs.fOyUs_cBHs.fOyUs_eWbJ.fOyUs_fmDy.fOyUs_eeJl.fOyUs_cBtr.fOyUs_fuTR.fOyUs_cnfU.fQfxa_bGBk {
  background-color: #060614;
  color: #d9d9d9;
}

a.btn.button-sidebar-wide {
  background-color: #060614;
  color: #d9d9d9;
}

tr td p {
  color: #cccccc;
}

a.home.active {
  color: #ffffff;
}

div.navigation-tray-container.profile-tray {
  background-color: #060614;
}

input.qBMHb_cwos.qBMHb_ycrn.qBMHb_EMjX {
  background-color: #060614;
  color: #efefef;
}

span.fOyUs_bGBk.fOyUs_desw.bDzpk_bGBk.bDzpk_busO.bDzpk_fZWR.bDzpk_qOas {
  background-color: #060614;
}

tbody tr td {
  background-color: #060614;
}

label.ic-Label {
  color: #cccccc;
}

span.grade {
  color: #efefef;
}

div.student_assignment.final_grade {
  color: #cccccc;
}

select.grading_periods_selector.content-box {
  background-color: #060614;
  color: #efefef;
}

td.percent {
  color: #d9d9d9;
}

div div h2 {
  color: #efefef;
}

div.header-bar {
  background-color: #060614;
}

div.item-group-condensed.context_module.student-view.completed.context_module_hover {
  background-color: #060614;
}

div.ig-header.header {
  background-color: #17172b;
}

div.ig-row.ig-published.student-view {
  background-color: #060614;
}

div.ig-list {
  background-color: #060614;
}

div.module-item-title {
  color: #f3f3f3;
}

a.ig-title.title.item_link {
  color: #d9d9d9;
}

div.ig-details {
  color: #999999;
}

div.item-group-container {
  background-color: #060614;
}

div.module-sequence-footer-content {
  background-color: #060614;
}

a.Button {
  background-color: #060614;
  color: #d9d9d9;
}

h1.title {
  color: #f3f3f3;
}

span.value {
  color: #efefef;
}

span.title {
  color: #ffffff;
}

div p span {
  color: #f3f3f3;
}

span.ui-icon.ui-icon-extlink.ui-icon-inline {
  color: #f3f3f3;
  background-color: #999999;
}

a span span {
  color: #6d9eeb;
}

div div div {
  color: #d9d9d9;
}

div.Opportunity-styles__root {
  background-color: #060614;
}

div.Opportunities-styles__root {
  background-color: #060614;
}

form.submit_assignment_form.ui-tabs-panel.ui-widget-content.ui-corner-bottom {
  background-color: #060614;
}

div.alert.alert-error {
  background-color: #570000;
}

span.ui-listview-text {
  background-color: #000000;
}

div.headerBar {
  background-color: #060614;
}
